# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
# static/
local_settings.py

# Environment
.env
*.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Virtualenv
venv/
ENV/
env/
.venv/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
**/migrations/0001_initial.py
**/migrations/000*.py

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/

# Other
*.swp
*.swo
.idea/